@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #00b2a9;
  --secondary: #1d3557;
  --accent: #ff6b35;
  --background: #f8f9fa;
  --text: #333333;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--text);
  background-color: var(--background);
}